body {
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color: #222;
}

img {
    width: 100%;
}

.card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

